

@charset "utf-8";
/* CSS Document */


*{ margin:0; padding:0; }

html {
    scroll-behavior: smooth;
  }


.logo{margin-top: 25px; margin-left: 50px;}

.texto_topo{margin-top: 150px; margin-left: 50px;}


.servicos {width:100%; height:auto; background-color:white; margin-top:10px; margin-bottom: 25px;}
.servicos card { height:auto; display:flex;  justify-content: space-evenly;   align-items: center; margin-top:25px; }

section2:nth-of-type(1) { width:300px; height:200px;  border: 1px solid grey; margin-top:20px; margin-bottom:25px; border-radius:10px; 
box-shadow: 5px 10px 18px #888888;  }
section2:nth-of-type(2) { width:300px; height:200px;  border: 1px solid grey; margin-top:20px; margin-bottom:25px; border-radius:10px; 
box-shadow: 5px 10px 18px #888888; }
section2:nth-of-type(3) { width:300px; height:200px;  border: 1px solid grey; margin-top:20px; margin-bottom:25px; border-radius:10px; 
box-shadow: 5px 10px 18px #888888;}

 


.servicos2{ width:100%; height:auto; padding-top: 150px; background-color: #FFFFF0;  }
.servicos2 card { height:auto; display: flex; flex-direction: column;  align-items: center; }

section3:nth-of-type(1) { width:250px; height:150px;  margin-top:20px; margin-bottom:25px; border-radius:10px;
box-shadow: 5px 10px 18px #888888;  }
section3:nth-of-type(2) { width:250px; height:150px;  margin-top:20px; margin-bottom:25px; border-radius:10px; 
box-shadow: 5px 10px 18px #888888; }
section3:nth-of-type(3) { width:250px; height:150px;  margin-top:20px; margin-bottom:25px; border-radius:10px; 
box-shadow: 5px 10px 18px #888888; }

 


@media screen and (max-width:600px) {

.servicos card { display:flex; flex-direction: column;} 
section2 {margin-top:10px; } 
    
   
    
    }



@media screen and (max-width:900px) {

.servicos card { display:flex; flex-direction: column;} 
section2 {margin-top:10px; } 
        
       
        
        }    